body {
    height: 100%;
    width: 100%;
}
.err_message {

}
#err_messages_container {

}
#nav {
    align-items: center;
    background-color: darkgrey;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    width: 100%;
}
#test_main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    width: 90%;
}