body {
    /*background-color: rgb(240, 240, 240);*/
    height: 100%;
    width: 100%;
}
.err_message {

}
#err_messages_container {

}
#nav {
    align-items: center;
    /*background-color: darkgrey;*/
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-end;
    margin-right: 10px;
    width: 100%;
}
.row10 {
    display: flex;
    flex-direction: row;
    gap: 10px;
    /*width: 100%;*/
}
.rrow10 {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    /*width: 100%;*/
}
#test_main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    margin: auto;
    width: 90%;
}
