<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" content="width=device-width, initial-scale=1" name="viewport">
        {% block title %}
        {% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/init.css') }}">
        {% block css %}
        {% endblock %}
        {% block javascript_head %}
        {% endblock %}
    </head>
<body>
<div id="nav">
    <div>
        <a href="{{ url_for('notes') }}">notes</a>
    </div>
    <div>
        <a href="{{ url_for('tasks') }}">tasks</a>
    </div>
</div>
{% block body %}
{% endblock %}
{% block javascript_footer %}
{% endblock %}
</body>
</html>