{% extends 'init.html' %}
{% block title %}
    <title>tracking v2 - notes</title>
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/notes.css') }}">
{% endblock %}
{% block body %}
{#  popup div for creating a note  #}
    <div class="popup" id="note_create_container">
        <div id="close_confirm_delete_container">
            <div class="button button_close_x" onclick="close_popups()">x</div>
        </div>
        <div class="popup" id="note_create_error_message">
            the title cannot be blank
        </div>
        <form id="form_create_note" name="form_create_note">
            <label for="note_title">title:</label><br>
            <input id="note_title" name="note_title" size="50" type="text"><br>
            <label for="note_location">location:</label><br>
            <input id="note_location" name="note_location" size="50" type="text"><br>
            <label for="note_tags">tags:</label><br>
            <input id="note_tags" name="note_tags" size="50" type="text"><br>
            <label for="note_text">text:</label><br>
            <input id="note_text" name="note_text" size="50" type="text">
            <br>
            <button type="button" id="button_note_create_submit">create note</button>
        </form>
    </div>
{#  popup div for confirming deleting a note #}
    <div class="popup" id="note_confirm_delete_container">
        <div id="close_confirm_delete_container">
            <div class="button button_close_x" onclick="close_popups()">x</div>
        </div>
        Are you sure you want to delete the note?
        <br>
        <div id="menu_confirm_delete_container">
            <div class="button" id="button_delete_yes">yes</div>
            <div class="button" id="button_delete_no">no</div>
        </div>
    </div>
{#  popup div for editing a note  #}
    <div class="popup" id="note_edit_container">
        <div id="close_edit_container">
            <div id="close_confirm_delete_container">
                <div class="button button_close_x" onclick="close_popups()">x</div>
            </div>
            in construction...
        </div>
    </div>
{#  ...  #}
    <div id="notes_menu">
        <div class="button" id="button_create">create</div>
    </div>
    <div id="notes_container">
        no data loaded...
    </div>
{% endblock %}
{% block javascript_footer %}
    <script src="{{ url_for('static', filename='javascript/notes.js') }}"></script>
{% endblock %}